<% include ./partials/header %>

<div class="container">
    <div class="row">
<h1>Login!</h1>

<form action="/login" method="POST">
    <input class="col-lg-4 col-sm-12" type="text" name="username" placeholder="username">
    <input class="col-lg-4 col-sm-12" type="password" name="password" placeholder="password">
    <input class="col-lg-4 col-sm-12" type="submit" value="Login">
</form>
</div>
</div>

<% include ./partials/footer %>