<% include ./partials/header %>

<div class="container">
    <div class="row">
<h1>Sign Up!</h1>

<form action="/register" method="POST">
    <input class="col-lg-4 col-sm-12" type="text" name="username" placeholder="username">
    <input class="col-lg-4 col-sm-12" type="password" name="password" placeholder="password">
    <button class="col-lg-4 col-sm-12">Sign Up!</button>
</form>
</div>
</div>
<% include ./partials/footer %>